body {
    font-family: Arial;
    color: #333;
    background: rgba(129, 92, 231, 0.2);
}

.container-users{
    display: block;
    justify-content: center;
    align-items: center;
}

/* Flex */
.flex {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.flex-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    color: #eeeeee;
}

.container {
    max-width: inherit;
    margin: 6px auto;
    border-radius: 3px;
    background-size: cover;
    background: #1abc9c;
    align-items: center;
    justify-content: center;
}

/* Flex Item */
.item {
    margin: 10px;
    text-align: center;
    font-size: 16px;
    justify-content: center;
}

/* Style the header */
.header {
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

/* Increase the font size of the h1 element */
.header h1 {
    font-size: 40px;
}