.profile{
    text-align: center;
    margin: 5px;
    font-size: 30px;
    font-weight: normal;
}

h1{
    text-align: center;
    margin: 10px;
    font-size: 20px;
    font-weight: normal;
}

p{
      text-align: center;
      margin: 10px;
      font-size: 12px;
      font-weight: normal;
  }

.link {
    text-align: center;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: normal;
    background: rgb(83, 210, 124, .6);
}

/* Style the list */
.breadcrumb{
    margin-top: 0;
}

ul.breadcrumb {
    padding: 10px 10px;
    list-style: none;
    background-color: #F54768;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    color: #FFFFFF;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: #c5cdd8;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #c5cdd8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}